<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <servlet>
  <servlet-name>NescoffController</servlet-name>
  <servlet-class>com.yyouss.controller.NescoffController</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CoffeeController</servlet-name>
  <servlet-class>com.yyouss.controller.AddCoffee</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ProductorController</servlet-name>
  <servlet-class>com.yyouss.controller.AddProductor</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RAZ</servlet-name>
  <servlet-class>com.yyouss.controller.ResetController</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Coffees</servlet-name>
  <servlet-class>com.yyouss.controller.CoffeesController</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Coffee</servlet-name>
  <servlet-class>com.yyouss.controller.CoffeeController</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Producer</servlet-name>
  <servlet-class>com.yyouss.controller.ProductorController</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>NescoffController</servlet-name>
  <url-pattern/>
  <url-pattern>/Accueil</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CoffeeController</servlet-name>
  <url-pattern>/AddCoffee</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProductorController</servlet-name>
  <url-pattern>/AddProductor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RAZ</servlet-name>
  <url-pattern>/RAZ</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Coffees</servlet-name>
  <url-pattern>/Coffees</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Coffee</servlet-name>
  <url-pattern>/Coffee</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>Producer</servlet-name>
  <url-pattern>/Producteur</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/WEB-INF/NescoffView.jsp</welcome-file>
 </welcome-file-list>
 <jsp-config>
  <jsp-property-group>
   <url-pattern>*.jsp</url-pattern>
   <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
  </jsp-property-group>
 </jsp-config>
</web-app>
